<div class="navbar">
  <ul class="navbar__list">
    <li class="nav-link"><a href="#">На главный сайт</a></li>
    <li class="nav-link"><a href="#">Регистрация</a></li>
    <li class="nav-link"><a href="#">Документы</a></li>
    <li class="nav-link"><a href="#">Правила</a></li>
    <li class="nav-link"><a href="#">О компании</a></li>
  </ul>
  <ul class="navbar__socials">
    <li class="social-link"><a href="#"><fa-icon [icon]="faVk" size="lg"></fa-icon></a></li>
    <li class="social-link"><a href="#"><fa-icon [icon]="faYoutube" size="lg"></fa-icon></a></li>
    <li class="social-link"><a href="#"><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a></li>
    <li class="social-link"><a href="#"><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a></li>
  </ul>
</div>
